# Created by .ignore support plugin (hsz.mobi)
.idea/workspace.xml
basic/target/
business/system/src/main/java/com/cloud/mvc/example/business/system/dto/
business/system/src/main/java/com/cloud/mvc/example/business/system/general/
business/system/src/test/java/com/cloud/mvc/example/business/system/dao/
business/target/
business/user/src/main/java/com/cloud/mvc/example/business/user/utils/
business/user/src/main/java/com/cloud/mvc/example/business/user/vo/
business/user/src/test/java/com/cloud/mvc/example/business/user/security/
business/user/src/test/java/com/cloud/mvc/example/bussiness/
common/api/src/main/resources/
common/api/src/test/
common/api/target/
common/auth-client/src/
common/config/src/main/java/com/cloud/mvc/example/business/common/config/log/
common/config/src/main/java/com/cloud/mvc/example/business/common/general/
common/config/src/test/
common/config/target/
common/domain/src/main/java/com/cloud/mvc/example/business/domain/annotation/
common/domain/src/main/java/com/cloud/mvc/example/business/domain/bo/
common/domain/src/main/java/com/cloud/mvc/example/business/domain/exceptions/system/
common/domain/src/main/java/com/cloud/mvc/example/business/domain/utils/
common/domain/src/main/resources/
common/domain/src/test/
common/domain/target/
common/message-client/src/
common/target/
common/transaction/src/
common/utils/src/main/java/com/cloud/mvc/example/utils/encoder/
common/utils/src/main/java/com/cloud/mvc/example/utils/excel/
common/utils/src/main/java/com/cloud/mvc/example/utils/function/
common/utils/src/main/resources/
common/utils/src/test/
common/utils/target/
generator/src/main/java/gen/
generator/src/test/
generator/target/
sample/.gradle/
sample/build.gradle
sample/out/
sample/settings.gradle
sample/src/main/resources/
sample/src/test/
target/
task/src/
